
.cardProducto {
    border: 3px solid #fafafa;
    width: 15rem;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgProducto {
    width: 200px;
    object-fit: contain;
    border-radius:4rem;
}


