header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: 2rem;
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    
}


